<html>
	<header>
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css">
	</header>

	<body>

		<div class="banner" id="top">
			<div class="banner-background"></div>
			<div class="container">
				<div class="banner-header">
					<h1>OFFICERS</h1>
				</div>
			</div>
		</div>

		<div class="content-container">
			<div class="container">

				<h1>Our Team</h1>
				<h3>Executive Committee</h3>

				<div class="row">
					<div class="col s12 l10 offset-l1">

						<div class="row presidents">
							{{#each presidents}}
							<div class="col s12 l6">
								<div class="officer-card">
									<div class="officer-content">
										<object class="officer-img" type="image/svg+xml" data="{{img}}">Your browser does not support SVGs</object>
										<h4 class="bold">{{title}}</h4>
										<h4>{{name}}</h4>
										<h4>{{major}}</h4>
										<h4>{{description}}</h4>
									</div>
								</div>
							</div>
							{{/each}}

						</div>
					</div>
				</div>

				{{#each committees}}
				<h3>{{title}} Committee</h3>

				<div class="row">
					<div class="col s12 l10 offset-l1">
						
						<div class="row">
							<div class="col s12 l6">
								<div class="officer-card">
									<div class="officer-content">
										<object class="officer-img" type="image/svg+xml" data="{{chair.img}}">Your browser does not support SVGs</object>
										<h4 class="bold">{{title}} Chair</h4>
										<h4>{{chair.name}}</h4>
										<h4>{{chair.major}}</h4>
										<h4>{{chair.description}}</h4>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							{{#each members}}
							<div class="col s6 l4">
								<div class="officer-card">
									<div class="officer-content">
										<object class="officer-img" type="image/svg+xml" data="{{img}}">Your browser does not support SVGs</object>
										<h4 class="bold">{{title}}</h4>
										<h4>{{name}}</h4>
										<h4>{{major}}</h4>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					
					</div>
				</div>
				{{/each}}

			</div>
		</div>

		<div class="footer">
			<div class="container">
				<a href="/"><h4>Return to Site</h4></a>
				<a href="#top"><h4>Back to Top</h4></a>
			</div>
		</div>


	</body>

</html>